*.asm
*.bin
*.hlr
*.ihx
*.lst
*.map
*.o
*.rel
*.rst
/preForth/asxxxx_build
/preForth/asxs5p30.zip
/preForth/bin
/preForth/include
/preForth/lib
/preForth/libz80_build
/preForth/libz80-2.1.0.tar.gz
/preForth/preForth-z80
/preForth/seedForth-z80
/preForth/z80
